# 📄 .gitignore - ShopStack Automation Framework

# 1. Environment Variables (Secrets)
.env
*.env

# 2. Python Virtual Environment
.venv/
venv/
ENV/
env/

# 3. Pytest & Testing Cache
.pytest_cache/
__pycache__/
*.pyc

# 4. Automation Output (Reports, Screenshots, Logs)
# Hum chahte hain ki folders rahein, lekin unka andar ka maal push na ho
Reports/*.html
Reports/*.xml
ScreenShots/*.png
Logs/*.log

# 5. IDE Settings (VS Code / PyCharm config)
.vscode/
.idea/

# 6. OS temporary files
.DS_Store
Thumbs.db

jekrinslocals.txt
jekrinswith_smoke_res.txt